<div>
    <table>
        <thead>
            <tr>
                <th *ngFor="let header of tableHeaders">
                    {{ header }}
                </th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let row of tableRows">
                <td *ngFor="let key of tableHeaders">
                    {{ getTableItem(row,key) }}
                </td>
            </tr>
        </tbody>
    </table>
</div>

<button *ngIf="!showAdd" (click)="showAdd = true">
    Add a budget
</button>

<ng-container *ngIf="showAdd">
    <form [formGroup]="budgetForm">
        <div>
            <label for="moneyForBudget">Money For Budget </label>
            <input id="moneyForBudget" type="text" formControlName="moneyForBudget">
        </div>
        <div>
            <label for="category">Category </label>
            <input id="category" type="text" formControlName="category">
        </div>
        <div>
            <label for="date">Date </label>
            <input id="date" type="date" formControlName="date">
        </div>
    </form>
    <button [disabled]="!budgetForm.valid" (click)="onAdd()">
        Add
    </button>
</ng-container>