<div>
    <table>
        <thead>
            <tr>
                <th>Category</th>
                <th>Money left in budget</th>
                <th>Money each month</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let budget of extendedBudgets">
                <td>{{ budget.category }}</td>
                <td>{{ budget.moneyLeftInBudget | currency:'EUR' }}</td>
                <td>{{ budget.moneyPerMonth | currency:'EUR' }}</td>
                <td><button (click)="deleteBudget(budget.category)">delete</button></td>
            </tr>
            <tr>
                <td> Total</td>
                <td> {{ getTotalBudgetPerMonth() }}</td>
                <td> {{ getTotalBudgetLeft() }}</td>
                <td> </td>
            </tr>
        </tbody>
    </table>

    <button *ngIf="!showAdd" (click)="showAdd = true">
        Add a budget
    </button>
</div>


<ng-container *ngIf="showAdd">
    <div>
        <form [formGroup]="budgetForm">
            <table>
                <thead>
                    <tr>
                        <th>Categorie</th>
                        <th>Budget per maand</th>
                        <th>Datum</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input id="category" type="text" formControlName="category"></td>
                        <td><input id="moneyForBudget" type="text" formControlName="moneyForBudget"></td>
                        <td><input id="date" type="date" formControlName="date"></td>
                    </tr>
                </tbody>
            </table>
        </form>
        <button [disabled]="!budgetForm.valid" (click)="onAdd()">Add</button>
    </div>
</ng-container>