<div>
    <table>
        <thead>
            <tr>
                <th>Naam</th>
                <th>Categorie</th>
                <th>Datum</th>
                <th>Prijs</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let transaction of transactions">
                <td>{{ transaction.name }}</td>
                <td>{{ transaction.category }}</td>
                <td>{{ transaction.date }}</td>
                <td>{{ transaction.price | currency:'EUR' }}</td>
                <td><button (click)="delete(transaction)">delete</button></td>
            </tr>
        </tbody>
    </table>
</div>

<button *ngIf="!showAdd" (click)="showAdd = true">Add a transaction</button>

<ng-container *ngIf="showAdd">
    <div>
        <form [formGroup]="transactionForm">
            <table>
                <thead>
                    <tr>
                        <th>Naam</th>
                        <th>Prijs</th>
                        <th>Datum</th>
                        <th>Category</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td><input id="name" type="text" formControlName="name"></td>
                        <td><input id="price" type="text" formControlName="price"></td>
                        <td><input id="date" type="date" formControlName="date"></td>
                        <td>
                            <select id="category" name="category" formControlName="category">
                                <option value="">Kies een Category</option>
                                <ng-container *ngFor="let option of categoryOptions">
                                    <option [value]="option">{{ option }}</option>
                                </ng-container>
                            </select>
                        </td>
                    </tr>
                </tbody>
            </table>
        </form>
        <button [disabled]="!transactionForm.valid" (click)="onAdd()">
            Add
        </button>
    </div>
</ng-container>